main{
  display: flex;
  flex-direction: column;
  gap: 7px;
}
img{
  width: 100%;
}
.date{
  color: #666;
  font-size: 12px;
}
.title{
  font-weight: bolder;
  font-size: 20px;
}
.description{
  color: #AAA;
  font-size: 12px;
}
