<app-title></app-title>
<section>
  <article class="big">
    <app-big-card
      id="1"
      img="https://static.itdg.com.br/images/360-240/ec2a5e38702c60bf1ace0b5f1c8e9415/shutterstock-739787011.jpg"
      date="dezembro 27, 2023"
      title="Como fazer lasanha de frango"
      description="A receita de lasanha de carne moída é um prato clássico, muito amado e muito fácil de preparar."
    ></app-big-card>
  </article>
  <article class="others">
    <app-small-card
      id="2"
      img="https://www.receitasnestle.com.br/sites/default/files/srh_recipes/861d71239103ef70f76554abf688bfc8.jpg"
      date="dezembro 30, 2023"
      title="Como fazer strogonoff de frango"
    ></app-small-card>
    <app-small-card
      id="3"
      img="https://i.ytimg.com/vi/kHGfh35nNMo/maxresdefault.jpg"
      date="janeiro 2, 2024"
      title="Como fazer macarrão ao molho de batata e bacon"
    ></app-small-card>
    <app-small-card
      id="4"
      img="https://i.ytimg.com/vi/7aZMXbRBlH0/maxresdefault.jpg"
      date="março 22, 2024"
      title="Como fazer bolo de laranja com cobertura de limão"
    ></app-small-card>
  </article>
</section>
